CompileFlags:
  Add:
    - --target=arm-none-eabi
    - -mcpu=cortex-m3
    - -mthumb
    - -mfloat-abi=soft
    - -DSTM32F103xB
    - -std=gnu11
    - -Iinc
    - -I"C:/Program Files (x86)/Arm GNU Toolchain arm-none-eabi/12.2 mpacbti-rel1/lib/gcc/arm-none-eabi/12.2.1/include"
    - -I"C:/Program Files (x86)/Arm GNU Toolchain arm-none-eabi/12.2 mpacbti-rel1/arm-none-eabi/include"
  Compiler: arm-none-eabi-gcc
